body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #75c8ff;
            margin: 0;
        }
        .keyboard {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 10px;
            padding: 20px;
            background: black;
            border-radius: 10px;
        }
        .row {
            display: flex;
            justify-content: center;
        }
        .key {
            padding: 15px 20px;
            margin: 5px;
            font-size: 18px;
            color: #6ec1ff;
            background: #111;
            border-radius: 5px;
            text-align: center;
            min-width: 40px;
            font-family: Arial, sans-serif;
        }
        .space {
            /*flex-grow: 1;*/
            min-width: 270px;
        }
        .enter, .shift{
            /*flex-grow: 1;*/
            min-width: 130px;
        }
